*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Odibee Sans';
    color: #36342F;
    /*margin-bottom: 35px;*/
    background-color: #050606;
    background-image: url(/images/theme/index_back.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
}

/*----bootstrap overide-----*/

.container {
    /*padding-top: 20px;
    padding-bottom: 20px;*/
}


/*-----------------HEADER-------------------*/

.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    background: rgba(25, 25, 25, 1);
}

.sticky {
    position: fixed;
    top: 0;
}

.headerAbsolute {
    position: absolute;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.forumLogo {
    float: left;
    background-image: url(/images/theme/logo.png);
    margin-left: 20px;
    height: 70px;
    width: 150px;
}

.navProfileImage {
    display: inline-block;
    float: left;
    height: 50px;
    width: 50px;
    margin: 10px 50px;
    background-image: url(../images/user1.png);
    background-size: 100%;
    border-radius: 50px;
    background-color: black;
    border: 2px solid #999;
}

.navUserName {
    display: flex;
}

    .navUserName a {
        text-decoration: none;
        color: #999;
        font-family: 'Alfa Slab One';
        letter-spacing: 1px;
        font-size: 1.1em;
        line-height: 70px;
    }

        .navUserName a:hover {
            color: white;
            transition: color .2s linear;
        }
/*NAV*/


.header-nav {
    font-size: 1.1em;
    font-family: 'Alfa Slab One';
    margin-right: 20px;
    align-items:center;
}

    .header-nav a, button {
        display: inline-block;
        margin: 0 10px;
        color: #999;
        text-decoration: none;
        line-height: 70px;
    }

    .header-nav button {
        background: none !important;
        border: none;
        cursor: pointer;
        outline: none;
    }

    .header-nav a:hover, button:hover {
        color: white;
        transition: color .2s linear;
    }


/*-----------INDEX PAGE------------*/

#home {
    background: url(/images/theme/index_back.jpg) no-repeat 50% 50%;
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding-bottom: 70px;
}


.indexTitle {
    color: white;
    font-size: 4.4em;
}

.indexSubTitle {
    color: gray;
    font-size: 1.4em;
}

/*Search Area*/

.indexSearch {
    max-width: 600px;
    margin: 20px auto;
}

    .indexSearch input,
    .indexSearch button {
        vertical-align: middle;
        border: none;
        outline: none;
        border-radius: 3px;
    }

    .indexSearch input {
        width: 80%;
        height: 50px;
        background: #262123;
        padding-left: 15px;
        color: white;
        font-family: 'Odibee Sans';
        font-size: 1.5em;
    }

    .indexSearch button {
        height: 50px;
        display: inline-block;
        width: 50px;
        cursor: pointer;
        background: #262123;
    }

    .indexSearch button {
        background-image: url(/images/theme/ui_elements/arrow.png);
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center
    }

/*---------------SECTION-1------------------*/
.section-1 {
    min-height: 100%;
    background: linear-gradient(#544845,#374044);
    padding-top:20px;
}

/*--------recent posts cards--------*/

.post-card {
    height: 120px;
    position: relative;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 2.4%;
    background: transparent;
    line-height: 1.4;
    font-family: 'Odibee Sans';
    border-radius: 3px;
    overflow: hidden;
    z-index: 0;
    border: 2px solid black;
    box-shadow: -1px 15px 30px -12px black;
}

    .post-card a {
        color: inherit;
    }

        .post-card a:hover {
            color: #5ad67d;
        }

    .post-card:hover .forumImage {
        -webkit-transform: scale(1.3) rotate(3deg);
        transform: scale(1.3) rotate(3deg);
    }

    .post-card .meta {
        min-width: 120px;
        position: relative;
        z-index: 0;
    }

    .post-card .forumImage {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s;
    }

    .post-card .details,
    .post-card .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .post-card .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left .2s;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 10px;
        width: 100%;
        font-size: .9rem;
    }

        .post-card .details ul li {
            display: inline-block;
        }

    .post-card .description {
        width: 100%;
        padding: 0.3rem;
        background-color: #aa9893;
        position: relative;
        z-index: 1;
    }

        .post-card .description h1 {
            line-height: 1;
            margin: 0;
            font-size: 1.7rem;
        }

        .post-card .description .postRating {
            float: left;
            margin-right: 1rem;
        }

        .post-card .description h2 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: white;
            margin-top: 5px;
        }

        .post-card .description .read-more {
            text-align: right;
        }

            .post-card .description .read-more a {
                color: black;
                display: inline-block;
                position: relative;
            }


    .post-card p {
        position: relative;
    }

        .post-card p:first-of-type:before {
            content: "";
            position: absolute;
            height: 2px;
            background: gray;
            width: 100%;
            border-radius: 3px;
        }

    .post-card:hover .details {
        left: 0%;
    }


/*-------top rating post-------*/

.topPostContainer .card {
    width: auto;
    border: 2px solid black;
    background-color: #aa9c99;
    box-shadow: -1px 15px 30px -12px black;
    margin: 0 auto;
}


/*---------------SECTION-2---------------*/
.cover {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 100%;
    height: 55vmin;
    background: url(/images/theme/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

    .cover .content {
        background: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        padding: 19vmin 5vmin;
    }

        .cover .content > h1 {
            font-size: 6vmin;
            color: whitesmoke;
        }

        .cover .content > p {
            font-size: 2vmin;
            color: #e5e5e5;
        }

.numbers .rect {
    position: relative;
    z-index: 1;
    background: #636C6F;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
}

.numbers {
    margin-top: -15vmin;
}

    .numbers .rect h1 {
        margin: 0;
        font-size: 5rem;
        color: whitesmoke;
    }

    .numbers .rect p {
        font-size: 2rem;
        color: whitesmoke;
    }

/*-------------POST PAGE------------*/

.postHeader {
    background-color: #191919;
    padding: 20px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.postHeading {
    color: white;
    font-size: 1.1em;
    font-family: 'Alfa Slab One';
    width:100%;
}

.postIndexTitle{
    font-size: 1.4em;
}

#headingBtn {
    float: right;
}

.btn-back {
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 3px !important;
}
    .btn-back:hover {
        transition: ease-in 0.1s;
        background-color: #aa9893 !important;
    }


#postIndexContent {
    background-color: #333333;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
    border: 2px solid black;
}

.postAuthorContainer {
    padding: 12px;
    color: #444;
    width: 190px;
}

.postAuthorImage {
    height: 80px;
    width: 80px;
    background-size: 100%;
    border: 2px solid black;
    border-radius: 4px;
}

.postDate {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postContentContainer {
    color: #e5e5e5;
    padding: 22px;
    border-left: 1px solid gray;
}

#replyDivider {
    height: 2px;
    margin-bottom: 12px;
}

.replyContent {
    background-color: rgba(51, 51, 51, 0.95);
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
    margin-bottom: 5px;
}

.replyAuthorContainer {
    padding: 12px;
    width: 230px;
}

.replyContentContainer {
    color: #e5e5e5;
    padding: 22px;
    border-left: 1px solid gray;
}

#postReplyRow {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    border: 2px  solid black;
    margin-bottom: 15px;
}

.btn-newReply {
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
    width: 20%;
}

    .btn-newReply:hover {
        transition: ease-in 0.1s;
        background-color: #9FA8DA !important;
    }

.noPosts {
    background-color: #333333;
    color: white;
    padding: 15px;
    border: 2px solid black;
}

.noPosts h3{
    margin:0;
}

/*-------------FORUM INDEX--------------------*/

.forumContainer{
padding-bottom: 70px;
}

.forumCard {
    overflow:hidden;
    border-radius: 3px;
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
    margin: 15px 0;
    position: relative;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.forumBodyContent{
    height:100%;
    width:75%;
    padding: 15px;
    position:relative;
}

.forumCardBody {
    padding-top: 30px;
    font-size: 1.2em;
}

.forumCardHeader {
    text-align:center;
    padding-left: 20px;
    background-color: rgba(39, 39, 39, 0.60);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    font-size: 1.6em;
}

.forumCardFooter {
    color:gray;
    background-color: rgba(39, 39, 39, 0.60);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 2px solid black;
}

.forumCardButton{
    font-size: 1.3em;
    padding:5px;
    color: darkgreen;
}

.forumCardButton:hover {
    line-height: 30px;
    padding: 5px;
    text-decoration: none;
    color: lawngreen;
    transition: color ease-in 0.4s;
}

.cardImageContainer {
    height: 100%;
    overflow: hidden;
    width: 25%;
    float: right;
    border-left: 2px solid black;
    background-color: rgb(39, 39, 39);
}

.forumCardLogo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform .5s;
}

.forumCard:hover .forumCardLogo {
    transform: scale(1.3);
    transition: transform .5s;
}

.hasRecentPost {
    border-right: 2px solid black;
    padding: 2px;
    background-color: #fe552f;
    color: #fff;
    text-align: center;
    width: 40px;
    height: 100%;
    position: absolute;
    left: 0;
}


/*MOBILE STYLE*/

@media only screen and (max-width: 767px) {
    .header {
        display: none;
    }

    .section-2 .numbers .rect {
        width: 8rem;
        height: 7rem;
    }

        .section-2 .numbers .rect h1 {
            font-size: 3.5rem;
        }

        .section-2 .numbers .rect p {
            font-size: 1rem;
        }

    .section-2 .cover .content {
        padding-top: 2vmin
    }

        .section-2 .cover .content p {
            font-size: 1.3rem;
        }
}
